@using Microsoft.AspNetCore.Components

<div>
    The total guest demand prediction model, APIs and front-end components were built by <a href="https://github.com/FransHk">Frans Huntink.</a> 
    The backend built on .NET Core (7.1) using Blazor. The free Radzen library was used for front-end visualisation and markup. The model back-end was set-up
    using Flask. <br />
    <ul>
        <b> Data sources </b>
        <li><a href="https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand">Booking Data</a></li>
        <li><a href="https://open-meteo.com/">Weather Data</a></li>
        <li><a href="https://www.edarabia.com/">School Holidays and Public Holidays</a></li>
        <br/>
        Full EDA, models & API code available on my GitHub page.
    </ul>
</div>
